# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# others
.env.production
api.test.http
doc.txt


# docker data
/.docker/data/pgadmin/*
!/.docker/data/pgadmin/.gitkeep

/.docker/data/postgres/*
!/.docker/data/postgres/.gitkeep

# docker logs
/.docker/logs/postgres/*
!/.docker/logs/postgres/.gitkeep

/.docker/logs/pgadmin/*
!/.docker/logs/pgadmin/.gitkeep

